

section {
    margin: 10px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #f8f9fa;
}


.text-center {
    text-align: center!important;
}
img {
    vertical-align: middle;
    border-style: none;
}

.form-main {
    margin: auto;
    width: 400px;
    height: 800px;
    padding: 15px;
}

.form-contact {
    margin: auto;
    width: 500px;
    height: 800px;
    padding: 15px;
}